<footer>
    <p>Made by <a href="https://twitter.com/mandy_kerr" target="_blank">Mandy Michael</a>, supported by <a href="https://instagram.com/adognamedjello" target="_blank">Jello</a>.</p>
</footer>
