.PostContent {
    font-family: 'Roslindale', 'Times New Roman', serif;
}

.fullBleedSection {
    position: relative;
    left: 50%;
    right: 50%;
    width: calc(100vw - 2rem);
    margin-top: 0;
    margin-left: calc(-50vw + 1rem);
    margin-right: -50vw;
}
  
@media screen and (min-width: 92.5em) {
    .fullBleedSection {
        width: calc(100vw - 6rem);
        margin-top: 0;
        margin-left: calc(-50vw + 3rem);
        margin-right: -50vw;
    }
}

.maxWidth {
    max-width: 800px;
    margin: 0 auto;
}

.spaced {
    max-width: 800px;
    margin: 0 auto 3rem auto;
}
  
.roslindaleFontDemo {
    text-align: center;
    color: #389386;
    background: #11444e;
}
  
  #roslindaleText {
    --axis: 900;
    --widthAxis: 100;
    margin: 0;
    font-size: clamp(3rem, 20 * (1vw) / 2, 10rem);
      font-weight: var(--axis);
    font-stretch:  var(--widthAxis);
  }
  
  #roslindaleText p {
    margin: 0;
  }
  
  .roslindaleFontDemo .bg {
    position: absolute;
    top: -91%;
    opacity: 0.15;
    font-size: clamp(5rem, 50 * (1vw) / 2, 25rem);
    text-align: center;
    width: 100%;
  }
  
  .roslindaleExtended {
    font-variation-settings: "opsz" 16;
    font-stretch: 75%;
    font-weight: 400;
    background: #11444e;
    color: #4e9fb0;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .roslindaleExtended p {
    max-width: 54.688rem;
    text-wrap: pretty;
  }

.roslidaleVF {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    background: #063782;

}

.roslindaleIntro {
    background: #063782;
    color: white;
    align-self: center;
}

.roslidaleVF .roslindaleBlockLetters  {
    width: 768px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    background: white;
    padding: 10rem 0 10rem 3rem;
}

.roslidaleVF .roslindaleBlockLetters p {
    font-size: 4rem;
    font-variation-settings: "opsz" 10;
    transition: all 250ms ease;
    text-decoration: underline;
    text-decoration-color: #b4e1df;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.125em;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.roslindaleBlockLetters:hover p {
    font-variation-settings: "opsz" 48;
 
}

.roslidaleVF p {
    padding: 2rem;
    font-size: 1.5rem;
    font-variation-settings: "opsz" 16;
    font-stretch: 75%;
    font-weight: 400;
}


/* Quotes */
.roslindaleFeature blockquote {
    font-size: 2rem;
    font-variation-settings: 'opsz' 14;
    line-height: 1.2;
    font-stretch: 85%;
    font-weight: 490;
}

.roslindaleFeature cite {
    font-size: 1.25rem;
    font-variation-settings: 'opsz' 14;
    font-stretch: 85%;
    font-weight: 300;
}

.roslindaleQuote {
    padding: 3rem;
    background: #393C66;
    color: #2ca7c5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.roslindaleQuote blockquote {
    max-width: 800px;
}

.roslindaleQuote h3 {
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 20rem;
    line-height: 1;
    opacity: 0.15;
    color: #00d3ff;
}

.roslindaleHistory {
    background: #393C66;
    color: #2ca7c5;
    padding: 5rem 5rem 0 5rem;
    text-align: center;
    font-size: 6rem;
}

.devinne {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    text-align: left;
    text-wrap: pretty;
    hyphens: auto;
    background: #eb5088;
    color: #4e1235;
}

.devinne p {
    padding: 2rem;
}

.designSpace {
    padding: 4rem;
    background: #741c4f;
    color: #da81b5;
    font-size: 2rem;
    justify-content: center;
    text-wrap: pretty;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 3rem;
}

.scrollingLetters {
    grid-column: 1/3;
    overflow: hidden;
    margin: 0 -4rem;
}

.horzScroll {
    margin: 0 ;

	--horzPos: 500;
	transform: translateX(var(--horzPos));
	transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
	will-change: transform;
	backface-visibility: hidden;
    font-size: 7rem;
    position: relative;
    width: 1000vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text!important;
    background-clip: text!important;

    background: linear-gradient(to bottom, #904974, #ffa2da);
    filter: drop-shadow(0 0 2px rgba(#d8a645, 0.5)) drop-shadow(0 0 3px rgba(yellow, 0.2)) blur(1.5px)!important;
}


.horzScroll em {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: #904974;
    text-underline-offset: 0.3em;
}

.effectiveness {
    padding: 4rem;
    font-size: 2rem;
    font-variation-settings: 'opsz' 18;
    font-stretch: 100%;
    font-weight: 100;
}


.ifindoubt {
    background: #d46da9;
    color: #511739;

}

.ifInDoubtMain {
    font-size: 6rem;
    font-variation-settings: 'opsz' 30;
}