<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="https://variablefonts.dev/{{ page.data.title | replace(" ", "-") | lower}}">
    <meta property="og:image" content="https://variablefonts.dev/images/{{ page.data.title | replace(" ", "-") | lower}}.png">
    <meta property="article:author" content="{{developer}}">
  </head>

  {% set lastItem = collections.post | length %}

  <body class="{{ bodyClass }}" style="
    --bg-color: #{{collections.post[lastItem - 1].data.featureColor}};
    --bg-color-end: #{{collections.post[0].data.featureColor}};
    --featureColorAccent: #{{collections.post[lastItem - 1].data.featureColorAccent}}; --featureColorReverse: #{{collections.post[lastItem - 1].data.featureColorReverse}}">
    <div>
        <header>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/getting-started">Getting Started</a></li>
                    {# <li><a href="/resources">resources</a></li>
                    <li><a href="/about">about</a></li> #}
                </ul>
            </nav>
            <h1 class="site-title" data-heading="{{title}}">{{ title }}</h1>
        </header>

        {{ content | safe }}

        {% include "footer.njk" %}
        <script>{% include "js/scripts.js" %}</script>
    </div>
  </body>
</html>



