---
layout: layouts/base.njk
bodyClass: posts
templateEngineOverride: njk, md
---

{% if css %}<style>{% include css %}</style>{% endif %}
{% if demoType === 'standard' %}<button id="toggle">Toggle Animation</button>{% endif %}

<section>
{% if (demoType === 'standard') or (demoType === 'standard-animation') %}
<p contenteditable data-text="{{demoText}}" class="demo" id="{{demoId}}">{{demoText}}</p>
{% elseif (demoType === 'video') %}
<div class="video-wrapper">
<div class="video">
<iframe width="1280" height="720" src="{{videoSource}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
{% else %}
<p>something else</p>
{% endif %}
</section>




<main class="post">
    <h2>{{postTitle}}</h2>

<section class="details">
<p><a href="{{DownloadSource}}" target="_blank">{{ FontName }}</a> by {{ Creator }} is {{ Licensing }}. <br />
Code by {% if (developerTwitter) %}<a href="https://twitter.com/{{developerTwitter}}" target="_blank"><em>{{ developer }}</em></a> {% else %}<em>{{ developer }}</em>{% endif %} available on <a href="{{ Codepen }}">Codepen</a></p>
</section>
{{content | safe}}

</main>

