---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}
{% import "partials/components/post-list.njk" as postList %}

{# Intro content #}
{% set introHeading %}Posts filed under “{{ tag }}”{% endset %}
{% set introHeadingLevel = '2' %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% if tag === 'list' %}
  {% set postListHeading = 'What are you looking for?' %}
{% else %}
  {% set postListHeading = 'Posts' %} 
{% endif %}
{% set postListItems = collections[tag] %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {{ postList.postListMacro
      (
        postListHeading, 
        postListItems, 
        '', 
        'Next',
        global.now
      ) 
    }}
  </main>
{% endblock %}
