.tagGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.938rem 0;
}

.tagDetailsSummary {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
   
.tagDetailsSummary {
    list-style: none;
    cursor: default;
    position: relative;
}

.tagDetailsSummary::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%232F2F37' d='m4.08 6.4 3.66 4.16a.36.36 0 0 0 .52 0l3.66-4.16a.33.33 0 0 0-.04-.47l-.62-.52a.34.34 0 0 0-.47.04L8.06 8.6a.08.08 0 0 1-.12 0L5.2 5.45a.34.34 0 0 0-.23-.11.33.33 0 0 0-.25.07l-.61.52a.33.33 0 0 0-.04.48Z'/%3E%3C/svg%3E");
    margin-left: 3.5em;
    top: 50%;
    margin-top: -0.5em;
}

/* .tagDetailsSummary:focus {
    outline: 2px solid;
    outline-offset: 1px;
} */

.tagDetails[open] .tagDetailsSummary {
    margin-bottom: 1em;
}

.tagDetails[open] > .tagDetailsSummary::after {
    transform: rotate(-180deg);
}
