<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "assets/css/global.css" %}</style>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}

  <svg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'>
  <filter id='noiseFilter'>
    <feTurbulence 
      type='fractalNoise' 
      baseFrequency='0.65' 
      numOctaves='3' 
      stitchTiles='stitch'/>
  </filter>
    <rect width='100%' height='100%' filter='url(#noiseFilter)'/>
  </svg>
  
  <svg xmlns="http://www.w3.org/2000/svg" display="block" preserveAspectRatio="none" style="margin-top:-2.5rem;width:100%;height:12rem" viewBox="0 0 1440 320">
      <clipPath id="swoosh">
        <path fill="#F06" d="M0 224l40-5.3c40-5.7 120-15.7 200-5.4C320 224 400 256 480 240c80-16 160-80 240-96s160 16 240 5.3C1040 139 1120 85 1200 96s160 85 200 122.7l40 37.3v64H0z"/>
      </clipPath>
  </svg>

  <script type="module" src="/js/components/theme-toggle.js" async defer></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
</body>
</html>
