{% extends 'layouts/base.njk' %}
{% import "partials/components/post-list.njk" as postList %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{# Tagged as lists #}
{% set listsPostsHeading = 'Font lists' %}
{% set listsPostsItems = collections['list'] %}

{# Archive link #}
{% if listsPostsItems.length < collections.posts.length %} 
  {% set listsPostsPaginationNextText = 'More lists' %}
  {% set listsPostsPaginationNextUrl = '/tags/list' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <div class="[ md:box-flex align-start ]">

          {{ postList.postListMacro(
              postListHeading, 
              postListItems, 
              paginationNextUrl, 
              paginationNextText,
              global.now) 
            }}

          {{ postList.postListMacro(listsPostsHeading, listsPostsItems, listsPostsPaginationNextUrl, listsPostsPaginationNextText, global.now) }}

        </div>
      </div>
  </main>
{% endblock %}
