@import '_variables';
@import '_mixins';

@font-face {
	font-family: 'IBM Plex';
    src: url('/fonts/IBMPlexSansVar-Roman.woff2');
    font-weight: 100 700;
}

@font-face {
	src: url('/fonts/SchijnVariableGX.woff2');
	font-family:'Schijn Variable';
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background-color: $text-color;
    color: $page-color;
}
::selection {
    background-color: $text-color;
    color: $page-color;
}

html {
    font-size: 100%;
}

body {
    --bg-color: white;
    --bg-color-end: white;
    --featureColorAccent: white;
    --featureColorReverse: black;

    min-height: 100vh;
    font-family: $fontBody;
    font-size: 100%;
    font-weight: 353;
    line-height: 1.8;
    text-align: center;
    color: white;
    background: linear-gradient(var(--bg-color) 50%, var(--bg-color-end));

}

header {
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}

.home header {
    min-height: 80vh;
    padding-top: calcRem($spacing-3);
}

// TODO: Create mixin to share between layouts
.posts h1::after {
    content: "";
    width: 20%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
}

nav {
    position: absolute;
    top: 0;
    flex: none;
}

a {
    color: $text-color;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: $accent-color;
}

h1, h2, h3 {
    font-family: $fontHeading;
    font-weight: 700;
    line-height: 1;
    margin: calcRem($spacing-2) 0;
    color: currentColor;
}

h1 {
    font-size: calcRem($fontScale-7);
    font-weight: 100;
    margin-top: calcRem($spacing-7);
    margin-bottom: calcRem($spacing-2);
    line-height: 1;
    padding-bottom: calcRem($spacing-1);
    margin: calcRem($spacing-2);
    position: relative;
    color: white;
}

.home h1 {
    --axis: 17;
    --axis2: 30;

    font-size: calcRem(50px);
    font-weight: 100;
    margin-top: calcRem($spacing-7);
    margin-bottom: calcRem($spacing-2);
    line-height: 1;
    padding-bottom: calcRem($spacing-1);
    margin: calcRem($spacing-2);
    font-family: "Schijn Variable", "Adobe NotDef";
    font-variation-settings: "wght" var(--axis);
    position: relative;
    color: var(--featureColorAccent);

    @media screen and (min-width: 450px) {
        font-size: calcRem(80px);
    }

    @media screen and (min-width: 768px) {
        font-size: calcRem(170px);
    }

    &::before {
        content: attr(data-heading);
        position: absolute;
        color: var(--featureColorReverse);
        font-variation-settings: "wght" var(--axis2);
        left: 0;
    }
}

h2 {
    font-size: calcRem($fontScale-5);
    margin: calcRem($spacing-1) 0;
}

h3 {
    text-transform: uppercase;
    margin-top: calcRem($spacing-6);
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.listing {
    --featureColor: $page-color;

   display: grid;
   width: 100%;
   grid-template-columns: 1fr;
   align-self: center;

   @media screen and (min-width: 768px) {
       grid-template-columns: 1fr 1fr 1fr;
   }

   .item {
        background: var(--featureColor);
        display: flex;
        height: 50vh;
        align-content: center;
        box-shadow: inset 34px 0px 99px -46px rgba(0,0,0,0.46);
        justify-content: center;

        @media screen and (min-width: 768px) {
            grid-column: 2 / span 2;
            height: 100vh;
        }

        img {
            width: 80%;
            display: block;
            align-self: center;
        }
   }

    .sidebar {
        background: #fff;
        grid-column: 1;
        z-index:1;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        color: $page-color;
        padding: calcRem($spacing-3) 0;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 10vh solid var(--featureColor);
            border-left: 10vh solid transparent;
            bottom: 0;
            position: absolute;
            right: 0;


            @media screen and (min-width: 768px) {
                border-bottom: 40vh solid var(--featureColor);
                border-left: 40vh solid transparent;
            }
        }

        h2 {
            color: var(--featureColor);
            font-size: 2rem;
            font-weight: 120;

            @media screen and (min-width: 768px) {
                font-size: 4rem;
            }
        }

        p {
            color: mix(white, black, 20%);
        }

        time {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
        }

        a {
            color: var(--featureColor);
            font-weight: 800;
            transition: background 250ms ease-out;

            &:hover, &:focus {
                background: $accent-color-2;
                color: black
            }
        }
    }
}

.post-button {
    border: 2px solid currentColor;
    background: transparent;
    padding: calcRem(4px);
    width: calcRem(100px);
    display: block;
    text-decoration: none;
    margin: calcRem($spacing-2) auto;
    position: relative;
    z-index: 2;
}