.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 900px;
    text-align: left;
}

header {
    margin-bottom: calcRem($spacing-7);
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    fill: white;
}

.intro {
    font-size: calcRem($fontScale-3);
    margin-bottom: calcRem($spacing-7 * 2);
    line-height: 1.2;
    max-width: 48ch;
    font-weight: 700;
}