@import '_variables';

nav {
    display: flex;
    justify-content: flex-end;
    gap: calcRem($spacing-1);
    width: 100%;
}

.nav {
    padding-top: calcRem($spacing-3);
    list-style: none;
    display: flex;

    li {
        margin: 0 calcRem($spacing-2);

    }

    a {
        // padding: calcRem($spacing-1);
        text-align: left;
        color: $text-color;
        text-decoration: none;
        font-weight: 700;
        display: block;
        line-height: 1;
        transition: all 50ms ease;
        border: 1px solid transparent;
        letter-spacing: 0.062rem;
        position: relative;

        &::after {
            content: "";
            width: 20px;
            height: 1px;
            background: $text-color;
            position: absolute;
            bottom: -10px;
            left: 0;
            transition: width 150ms ease-in-out;
        }

        &:hover,
        &:focus {
            color: white;

            &:after {
                background: white;
                width: 100%;
            }
        }
    }

}