$dividerColor:  rgba(255,255,255,0.5);

.demo {
    font-size: 100px;
    line-height: 1;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	letter-spacing: 0.6rem;
	margin: 7rem 0;
    position: relative;
    text-transform: uppercase;
    line-height: 1;

    @media screen and (min-width: 430px) {
        font-size: 150px;
    }

    @media screen and (min-width: 700px) {
        font-size: 200px;
    }
}

.nav a {
    color: white;
}

.post {
    background: white;
    padding: calcRem($spacing-1);
    color: black;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;

    p {
        margin-bottom: calcRem($spacing-2);
        line-height: 1.5;
    }

    :not(pre) > code {
        background: ghostwhite;
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 0 2px;
    }

    @media screen and (min-width: 700px) {
        padding: calcRem($spacing-6);
    }
}

.details {
    text-align: left;
    position: relative;
    margin: calcRem($spacing-6) auto;
    border-top: 1px solid $dividerColor;
    border-bottom: 1px solid $dividerColor;
    padding: calcRem($spacing-4) 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    line-height: 1.2;
    width: 95%;
    max-width: calc(800px + #{$spacing-1 * 2});

    @media screen and (min-width: 700px) {
        max-width: calc(800px + #{$spacing-6 * 2});

    }

    p + p {
        margin-top: calcRem($spacing-2);
    }

    a {
        display: inline-block;
        padding: 0 2px;
        transition: all 150ms ease;
        background: transparent;
        color: black;
    }

    a:hover, a:focus {
        background: darkslategrey;
        color: white;
    }
}


#toggle {
	border: 2px solid currentColor;
	background: transparent;
	padding: calcRem(10px);
	color: currentColor;
	font-size: calcRem(12px);
	text-transform: uppercase;
    flex-grow: 0;
    cursor: pointer;
    align-self: center;
    margin: calcRem($spacing-2) 0 0 0;

	&:hover, &:focus {
		background: darkslategrey;
		color: white;
	}

	&:active {
		transform: translate(0, 2px);
	}
}

.no-animation .demo {
	animation: none;
}

@media (prefers-reduced-motion: reduce) {
    .demo {
        animation: none;
    }
}