$dividerColor:  rgba(255,255,255,0.5);

.demo {
    font-size: 100px;
    line-height: 1;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	letter-spacing: 0.6rem;
	margin: 7rem 0;
    position: relative;
    text-transform: uppercase;
    line-height: 1;

    @media screen and (min-width: 430px) {
        font-size: 150px;
    }

    @media screen and (min-width: 700px) {
        font-size: 200px;
    }
}

.nav a {
    color: white;
}

.post {
    background: white;
    padding: calcRem($spacing-4);
    color: black;
    width: 95%;
    max-width: 700px;
    margin: calcRem($spacing-4) auto;
    text-align: left;

    @media screen and (min-width: 700px) {
        margin-top: calcRem($spacing-7 * 2.5);
        padding: calcRem($spacing-6 * 2.5);
    }

    p {
        margin-bottom: calcRem($spacing-3);
        line-height: 1.5;
        font-size: 18px;
        font-weight: 200;
    }

    :not(pre) > code {
        background: ghostwhite;
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 0 2px;
        font-size: 15px;
        color: #5c5c5c;
    }




}

.details {
    text-align: left;
    position: relative;
    line-height: 1.5;
    font-style: italic;
    font-weight: 200;
    border-bottom: 1px solid black;
    margin-bottom: calcRem($spacing-2);

    @media screen and (min-width: 700px) {
        max-width: calc(800px + #{$spacing-6 * 2});
    }

    p + p {
        margin-top: calcRem($spacing-2);
    }

    a {
        display: inline-block;
        padding: 0 2px;
        transition: all 150ms ease;
        background: transparent;
        color: black;
    }

    a:hover, a:focus {
        color: white;
        background: black;
    }
}


#toggle {
	border: 1px solid currentColor;
	background: transparent;
	padding: calcRem(10px);
	color: currentColor;
	font-size: calcRem(12px);
	text-transform: uppercase;
    flex-grow: 0;
    cursor: pointer;
    align-self: center;
    position: absolute;
    top: 1rem;
    left: 1rem;

	&:hover, &:focus {
		background: darkslategrey;
		color: white;
	}

	&:active {
		transform: translate(0, 2px);
	}
}

.no-animation .demo {
	animation: none;
}

@media (prefers-reduced-motion: reduce) {
    .demo {
        animation: none;
    }
}

.video-wrapper {
    max-width: 876px;
    margin: 0 auto;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
