// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color: #6651a6;
$text-color: #c1a2e7;
$reverse-text-color: #6651a6;
$accent-color: #4fe6d9;
$accent-color-2: #ecb2ff;


$fontHeading: 'IBM Plex', 'Helvetica', 'Arial', sans-serif;
$fontBody: 'IBM Plex', 'Arial', sans-serif;


// font sizes
$fontScale-1: 12px;
$fontScale-2: 18px;
$fontScale-3: 24px;
$fontScale-4: 30px;
$fontScale-5: 36px;
$fontScale-6: 44px;
$fontScale-7: 50px;
$fontScale-8: 64px;

// padding/margin sizes
$spacing-1: 12px;
$spacing-2: 18px;
$spacing-3: 24px;
$spacing-4: 30px;
$spacing-6: 38px;
$spacing-7: 44px;