html,
body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family:
   Roboto,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #474753;
  background: #FAFAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


@font-face {
  font-family: Roboto;
  src: url(../pages/fonts/RobotoFlex.woff2);
  weight: 100 1000;
  width: 25 151
}


@font-face {
  font-family: Roslindale;
  src: url(../pages/fonts/RoslindaleVariable.woff2);
  weight: 200 900;
  width: 75 100;
  font-optical-sizing: 10 48;
}

a {
  color: #C22E84;
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
a:visited {
  color: #22879C;

}

.PageHeader p + h1 {
  margin-top: 1rem;
}

h2, h3, h4 {
  font-weight: 569;
  font-stretch: 62%;
  font-variation-settings: 'opsz' 39;
}

h2 {
  font-size: 2.625em;
  font-stretch: 32%;
  letter-spacing: -0.02em;
  margin: 0 0 0.619em 0;
}

h3 {
  font-size: 2em;
  letter-spacing: -0.01em;
  margin: 0 0 0.750em 0;
}

h4 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

p + h2,
p + h3,
p + h4 {
  margin-top: 3.188rem;
}

iframe {
  display: block;
}

.author {
  display: block;
  font-size: 0.5em;
  letter-spacing: 0;
}

.PostContent p:has(img),
.PostContent iframe,
.PostContent pre {
  position: relative;
  display: block;
  margin: 3rem 0;
}

@media screen and (min-width: 48em) {
  .PostContent p:has(img),
  .PostContent iframe,
  .PostContent pre {
    margin: 6rem 0;
  }
}

.PostContent p:has(img)::before,
.codepen::before,
.PostContent iframe::before,
.PostContent pre::before {
  content: "";
  width: calc(100% + 2rem);
  background: #E9F3F5;
  height: calc(100% + 2rem);
  display: block;
  top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  position: absolute;
}

@media screen and (min-width: 48em) {
  .PostContent p:has(img)::before,
  .codepen::before,
  .PostContent iframe::before,
  .PostContent pre::before {
    width: calc(100% + 6rem);
    height: calc(100% + 6rem);
    top: -3rem;
    margin-left: -3rem;
    margin-right: -3rem;
  }

}

.PostContent p > img,
iframe,
pre {
  box-shadow: 0px 10px 20px #17171c75;
  position: relative;
  display: block;
}

.PostContent pre + pre {
  margin-top: 8rem;
}

.codepen {
  position: relative;
  display: block;
  margin: 6rem 0;
  box-shadow: 0px 10px 20px #17171c75;
}

.videoPlayer {
  position: relative;
  padding-top: 56.25%;
}

.videoPlayer > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
