.container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 0 4.5rem 0;
    z-index: 1;
}

.container:after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: #E9F3F5;
    width: 100vw;
    height: 70%;
    z-index: -1;
}

@media screen and (min-width: 48em) {
    .container:after {
        width: 100%;
    }
}

.heading {
    text-align: center;
    font-size: clamp(2.75rem, 10 * (1vw) / 2, 4.750rem);
    text-wrap: balance;

    color: #2F2F37;
    margin-top: clamp(3rem, 10 * (1vw) / 2, 6.5rem);
    margin-bottom: clamp(1rem, 10 * (1vw) / 2, 3.750rem);
    letter-spacing: -0.1rem;

    /*TODO*/
    font-family: 'Roslindale Variable';
}

.summary {
    font-size: clamp(1rem, 8 * (1vw) / 2, 2rem);
    font-stretch: 75%;
    font-weight: 500;
    font-variation-settings: 'opsz' 144;
    max-width: 796px;
    text-align: center; 
    margin: 0;
    margin-bottom:  clamp(1.5rem, 10 * (1vw) / 2, 4.813rem);
}

.figure {
    width: 100%;
     max-width: 1120px;
}

.image {
    display: block;
    padding: 1rem;
    border: 1px solid #17171C;
    background: #fff;
    position: relative;
}

.figcaption {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    font-size: 0.750rem;
    text-transform: uppercase;
    font-stretch: 25%;
    letter-spacing: 0.3ch;
    font-variation-settings: 'grad' -200;
    font-weight: 500;
    padding: 1.5rem 0;
    border-bottom: 1px solid #17171C;
}

