.section {
    margin: 0 0 4rem 0;
    position: relative;
    padding-top: 2.5rem;
} 

.sectionBorder {
    border-top: 3px solid #17171C;
    margin-top: 5rem;

}

.sectionBorder::before {
    content: "";
    width: 100%;
    height: 12px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 1px, #FAFAFA 1px, #FAFAFA calc(100% - 1px), rgba(15,15,15,1) 100%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
}

.sectionHeading {
    font-size: 1.5rem;
    font-stretch: 76%;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-variation-settings: 'opsz' 144;
    border-bottom: 1px solid #17171C;
}

.articleList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.articleListSmall {
    grid-template-columns: 1fr;
}

@media screen and (min-width: 30rem) {
    .articleListSmall {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.articleListItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

@media screen and (min-width: 30rem) {
    .articleListItem {
        flex-direction: column;
        flex: 0 1 28.500rem;
        gap: 0;
    }
}

.image {
    display: block;
    padding: 0.5rem;
    border: 1px solid #17171C;
    margin-bottom: 1rem;
    width: 100%;
}

@media screen and (max-width: 30rem) {
    .image {
        width: clamp(8.5rem, 10 * (1vw + 1vh) / 2, 15rem);
    }
}

.cardMeta {
    font-size: clamp(0.50rem, 10 * (1vw + 1vh) / 2, 0.750rem);
    text-transform: uppercase;
    font-stretch: 25%;
    font-weight: 400;
    letter-spacing: 0.04ch;
    font-variation-settings: 'grad' -200;
}

.cardHeading {
    font-size: clamp(1.25rem, 1vw + 1rem, 2rem);
    font-stretch: 62%;
    font-weight: 569;
    letter-spacing: -0.01em;
    line-height: 1.1;
    font-variation-settings: 'opsz' 39;
    margin: 0;
}

.cardLink {
    display: block;
    cursor: pointer;
}

.cardLink,
.cardLink:visited {
    color: #2F2F37;
    text-decoration: none;
}

.cardLink:hover {
    color: #EB5088;
}

/* Featured Post*/
.featuredPost {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5.5rem;
    align-items: center;
}

@media screen and (min-width: 968px)  {
    .featuredPost {
        grid-template-columns: 1fr minmax(300px, 2fr);
    }
}

@media screen and (min-width: 768px)  {
    .featuredPost {
        grid-template-columns: 1fr 1fr;
    }
}

.featuredPostContent {
    align-self: flex-start;
}

.featuredPostCardHeading {
    font-size: clamp(1.5rem, 10 * (1vw + 1vh) / 2, 3.5rem);
    letter-spacing: -0.02em;
    font-stretch: 62%;
    font-variation-settings: 'opsz' 39;
}

.featuredPostSummary {
    font-size: 1.125rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px)  {    
    .cardImage {
        display: none;
    }
}

@media screen and (min-width: 768px)  {
    .cardImageMobile {
        display: none;
    }

    .imageFeature {
        aspect-ratio: 9 / 10;
        object-fit: cover;
    }
}

@media screen and (min-width: 1024px)  {
    .imageFeature {
        aspect-ratio: 144 / 79;
    }
}