---
title: Variable Fonts for Developers
permalink: feed.xml
layout:
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss"
    xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">

    <channel>
        <title>Variable Fonts for Devs</title>
        <atom:link href="https://variablefonts.dev/feed.xml" rel="self" type="application/rss+xml" />
        <link>https://variablefonts.dev</link>
        <description>Exploration, demos and guides on how to use Variable fonts on the web
        along with hopefully helpful guides on the implementations.</description>
        <language>en-US</language>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>

        <image>
            <url>https://variablefonts.dev/images/icons/favicon-32x32.png</url>
            <title>Variable Fonts for Devs</title>
            <link>https://variablefonts.dev</link>
            <width>32</width>
            <height>32</height>
        </image> 

        {% for page in collections.post | reverse %}
        <item>
            <title>{{page.data.title}}</title>
            <link>https://variablefonts.dev/posts/{{ page.data.title | replace(" ", "-") | lower}}</link>
            <guid isPermaLink="false">https://variablefonts.dev/posts/{{ page.data.title | replace(" ", "-") | lower}}</guid>
            <pubDate>{{page.date | dateDisplayRFC2822}}</pubDate>
            <description>{{page.data.description}}</description>
            <content:encoded><![CDATA[{{page.data.content | safe}}]]></content:encoded>
        </item>
        {% endfor %}
    </channel>
</rss>